<style>
    thead,tbody
    {
        text-align:center;
    }
</style>
<h1>App Component</h1>
<h3>API Fetched Data </h3>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>User Name</th>
            </tr>
        </thead>  
        <!-- <tbody class="table-dark">
            <tr *ngFor ="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.userName}}</td>
            </tr>
        </tbody> -->
        <!-- <tbody class="table-dark">
            <tr>
                <td>{{users.id}}</td>
                <td>{{users.userName}}</td>
            </tr>
        </tbody> -->
    </table>
    <hr>
    <div class="form-group">
        <label class="form-label">Enter User ID</label>
        <input type="number" class="form-control" name="userid" #uid>
    </div>
    <button type="button" class="btn btn-primary" (click) ="ShowUser(uid.value)">Click Me</button>
</div> 
<hr><hr>
<form #registerForm="ngForm" (ngSubmit) = "register()">
    <div class="form-group">
        <input class="form-control" type="text" name="username" [(ngModel)]="body1.username" placeholder="UserName" />
    </div>

    <div class="form-group">
        <input class="form-control" type="password" name="password" [(ngModel)]="body1.password" placeholder="Password"/>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>


</form>